* {
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

.react-datepicker-wrapper {
  width: 50%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 100px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}