.train-info {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  
  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: azure;
    border: 1px solid black;
    width: 100%;
  }
}