.schedule {
  width: 100%;
  background-color:blanchedalmond;

  .new-train {
    display: block;
    font-size: 15px;
    background-color:darkseagreen;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-size: 25px;

    &:hover {
      background-color:coral;
    }
  }

  .onHover {
    background-color:coral !important;
  }

  .titles {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    cursor: pointer;

    &__number {
      padding: 10px;
      background-color: blanchedalmond;
      border: 1px solid black;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      height: 100%;

      &:hover {
        background-color:darksalmon;
      }
    }
  }
}