.schedule {
  width: 100%;

  .titles {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;

    &__number {
      padding: 10px;
      background-color: blanchedalmond;
      border: 1px solid black;
      width: 100%;
    }
  }
}