.schedule {
  width: 100%;
  
  .titles {
    display: flex;
    width: 100%;

    &__number {
      padding: 10px;
      background-color: blanchedalmond;
      border: 1px solid black;
      width: 25%;
    }
  }
}